@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.test {
  @include background;
  border-radius: 25px;
  font-size: 1rem;

  &__main {
    width: 380px;
    height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  &__button {
    padding: 0.5rem;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: $primary-gold;
    border: 1px solid $primary-gold;
    width: 100%;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;

    &:hover {
      background-color: $cta-hover;
      border: 1px solid $cta-hover;
    }
  }

  &__card {
    // border: 1px solid $primary-gold;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: $primary-ivory;
  }
  &__question {
    border: 1px solid $primary-gold;
    border-bottom: none;
    padding: 1rem;
    color: $primary-black;
    line-height: 1.25rem;
  }
}
