@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.learn {
  @include background;
  border-radius: 25px;
  font-size: 1rem;

  &__main {
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top-container {
    display: flex;
    margin: 1rem 1rem 0;
    width: 348px;
    justify-content: space-between;
  }

  &__progress {
    border: 1px solid $primary-gold;
    margin-right: 1rem;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    background-color: $primary-ivory;
    color: $primary-black;
    &:hover {
      font-weight: bold;
    }
  }

  &__progress-title {
    background-color: $primary-gold;
    padding: 0.5rem;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  &__progress-stat-container {
    width: 150px;
    display: flex;
    justify-content: center;
  }

  &__progress-stat {
    text-align: center;
    padding: 1rem 0.5rem;
  }

  &__module-start-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 178.03px;
  }

  &__module {
    border: 1px solid $primary-gold;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    &:hover {
      font-weight: bold;
    }
  }

  &__module-title {
    font-weight: bold;
    background-color: $primary-ivory;
    padding: 0.5rem 1rem;
    background-color: $primary-gold;
    color: $primary-black;
    text-align: center;
  }

  &__module-lesson {
    background-color: $primary-ivory;
    color: $primary-black;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  &__start-button {
    border: 1px solid $primary-gold;
    background-color: $primary-black;
    border-radius: 4px;
    padding: 1rem;
    color: $primary-gold;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    &:hover {
      background-color: $primary-gold;
      border: 1px solid $primary-ivory;
      color: $primary-black;
    }
  }

  &__course-map {
    width: 348px;
    position: relative;
    margin: 1rem 0;
    border: 1px solid $primary-gold;
    background-color: $primary-ivory;
    border-radius: 4px;
    height: 100%;
    color: black;
  }

  &__course-map-title {
    padding: 0.5rem 0;
    text-align: center;
    font-weight: bold;
    background-color: $primary-gold;
  }

  &__course-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  &__course-lesson {
    width: 33.3%;
    text-align: center;
    padding: 1.35rem;
    border-collapse: collapse;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
  }

  &__course-arrow-intro {
    position: absolute;
    left: 100px;
    top: 47px;
  }

  &__course-arrow-goals {
    position: absolute;
    top: 47px;
    right: 100px;
  }
  &__course-arrow-budget {
    position: absolute;
    right: 10px;
    top: 75px;
    transform: rotate(45deg);
  }
  &__course-arrow-college {
    position: absolute;
    bottom: 45px;
    left: 10px;
    transform: rotate(225deg);
  }
  &__course-arrow-debt {
    position: absolute;
    left: 108px;
    top: 103px;
    transform: rotate(180deg);
  }
  &__course-arrow-saving {
    position: absolute;
    right: 105px;
    top: 103px;
    transform: rotate(180deg);
  }
  &__course-arrow-credit {
    position: absolute;
    bottom: 18px;
    left: 97px;
  }
  &__course-arrow-insurance {
    position: absolute;
    right: 97px;
    bottom: 18px;
  }
}
