@use "../../styles/partials/variables" as *;

.create-account {
  background-color: $primary-black;
  width: 380px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 10rem;
  color: $primary-gold;
  display: flex;
  flex-direction: column;

  align-items: center;

  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem 0 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
  }

  &__label {
    font-weight: bold;
  }

  &__input {
    margin-bottom: 1rem;
    background-color: $primary-ivory;
    border: none;
    padding: 0.25rem;
    border-radius: 2px;
    font-family: "Courier New", Courier, monospace;

    &:focus {
      background-color: $primary-gold;
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: $primary-black;
    }
  }

  &__button {
    padding: 0.5rem;
    border-radius: 2px;
    margin-top: 2rem;
    background-color: $primary-gold;
    border: none;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;

    &:hover {
      background-color: gold;
    }
  }
}
